.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255,255,255,0.18);
  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 90px;
    height: 20px;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
  }
}

.app__navbar-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  //position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--yellow-color);

  img {
    width: 70%;
    height: 70%;
    //color: var(--white-color);
  }
}


.pop {
  display: none;
  border: 3px solid red;
  background-color: var(--primary-color);
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
}

.container {
  display: flex;
  height: 80%;
  flex: 1;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  .container-header{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: var(--black-color);
    text-transform: capitalize;
  }

  div {
    width: 80%;

    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--primary-color);

    transition: all 0.3s ease-in-out;

    input,
    textarea {
      width: 100%;
      padding: 0.95rem;
      border: none;
      border-radius: 7px;
      background-color: #ffffff;
      resize: none;

      font-family: var(--font-base);
      color: var(--secondary-color);
      outline: none;
    }

    textarea {
      height: 170px;
    }

    &:hover {
      box-shadow: 0 0 25px var(--primary-color);
    }
  }
}

#flex-right {
  margin: 10px;
  align-self: flex-end;
}

