.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255,255,255,0.18);
  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 90px;
    height: 20px;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
  }
}


.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0bb00;

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;

    width: 50%;
    height: 100vh;

    display: flex;

    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background: lightgrey;

    box-shadow: 0 0 20px rgba(168,168,168,0.18);

    svg{
      width: 35px;
      height: 35px;
      color: black;
      margin: 0.5rem 1rem;
    }

    //@media screen and (min-width: 900px) {
    //  display: none;
    //}
  }

  //@media screen and (min-width: 900px) {
  //  display: none;
  //}
}
